<h1> Add your Book</h1>

<%= form_for @book, url: {action: "create"} do |f| %>
    <%= f.text_field :title %>
    <%= f.text_field :original_language %>
    <%= f.date_field :print_date %>
    <%= f.submit "Save" %>
<% end %>